export CLOUDSDK_ACTIVE_CONFIG_NAME=private
export GOOGLE_APPLICATION_CREDENTIALS=analytics-access-credential.json
export ALGOLIA_APP_ID=YLT78H3I8T
export ALGOLIA_API_KEY=f23e3642db626fca1dcbb0cb60841f9b
