{
  // Configuration for JavaScript files
  "extends": [
    "airbnb-base",
    "plugin:astro/recommended",
    "plugin:storybook/recommended"
  ],
  "rules": {},
  "ignorePatterns": ["**/*.ts", "**/*.tsx", "**/*.js", "**/*.jsx", "**/*.mjs"],
  "overrides": [
    // Configuration for Astro
    {
      "files": ["**/*.astro"],
      "plugins": [],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "project": "./tsconfig.json",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        "import/no-unresolved": [
          "error",
          {
            "ignore": ["@/*", "astro:*"]
          }
        ],
        "import/order": "off",
        "quotes": "off",
        "indent": "off",
        "max-len": "off",
        "object-curly-newline": "off",
        "operator-linebreak": "off",
        "implicit-arrow-linebreak": "off",
        "function-paren-newline": "off",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "": "never"
          }
        ], // Avoid missing file extension errors when using '@/' alias
        "import/prefer-default-export": "off" // Named export is easier to refactor automatically
      }
    }
  ]
}
