{
  // Configuration for JavaScript files
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:astro/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "ignorePatterns": ["**/*.ts", "**/*.tsx", "**/*.js", "**/*.jsx", "**/*.mjs"],
  "overrides": [
    // Configuration for Astro
    {
      "files": ["**/*.astro"],
      "plugins": [],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "project": "./tsconfig.json",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        "import/no-unresolved": [
          "error",
          {
            "ignore": ["@/*", "astro:content"]
          }
        ],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "": "never"
          }
        ], // Avoid missing file extension errors when using '@/' alias
        "import/prefer-default-export": "off" // Named export is easier to refactor automatically
      }
    }
  ]
}
