---
import { RandomArticleCard } from "@/components/RandomArticleCard";
import { Section } from "@/components/Section";
import Base from "@/templates/Base.astro";
import { getRandomArticle } from "@/utils/Random";

// ランダムな記事を取得
const randomArticle = await getRandomArticle();
---

<Base head={{ title: "ランダム記事", description: "ランダムな記事を表示します", isNoIndex: true }}>
  <Section>
    <div class="flex flex-col items-center justify-center py-10">
      <RandomArticleCard initialArticle={randomArticle} client:load />
    </div>
  </Section>
</Base>
