---
import { getCollection } from "astro:content";
import { RandomArticleCard } from "@/components/RandomArticleCard";
import { Section } from "@/components/Section";
import Base from "@/templates/Base.astro";
import { getSortedBlogData } from "@/utils/Blog";

const posts = await getCollection("posts");
const blogs = await getSortedBlogData();
---

<Base head={{ title: "ランダム記事", description: "ランダムな記事を表示します", isNoIndex: true }}>
  <Section>
    <div class="flex flex-col items-center justify-center py-10">
      <RandomArticleCard client:load posts={posts} blogs={blogs}/>
    </div>
  </Section>
</Base>
