.rotate-animation {
  animation-fill-mode: both;
  animation: rotate-anime 1.5s linear 1
}
 
@keyframes rotate-anime {
  0%  {transform: rotate(0deg) scale(1);}
  25%  {transform: rotate(90deg) scale(1.5);}
  50%  {transform: rotate(180deg) scale(1);}
  75%  {transform: rotate(270deg) scale(1.5);}
  100%  {transform: rotate(360deg) scale(1);}
}
