:root {
  --bg-slate-800: rgb(30 41 59);
  --bg-indigo-900: rgb(49 46 129);
  --bg-cyan-900: rgb(22 78 99);
  --docsearch-searchbox-background: var(--bg-indigo-900);
  --docsearch-modal-background: var(--bg-slate-800);
  --docsearch-footer-background: var(--bg-slate-800);
  --docsearch-searchbox-focus-background: var(--bg-slate-800);
  --docsearch-text-color: white;
  --docsearch-hit-background: var(--bg-indigo-900);
  --docsearch-hit-color: white
  
}

.DocSearch-Modal, .DocSearch-Footer, .DocSearch-Hit a, .DocSearch-Form{
  box-shadow: none;
}

.DocSearch-Button-Keys, .DocSearch-Button-Placeholder {
  display: none;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: white
}

.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
  background: var(--docsearch-searchbox-background);
}

.DocSearch-Form {
  padding: 0px;
}
