name: Cache

on:
  push:
    branches:
      - main

permissions: 
  contents: read
  packages: read

concurrency:
  group: "cache"
  cancel-in-progress: true

jobs:
  cache:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Cache node_modules of root
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Install dependencies of root
        id: npm-install
        run: |
          pnpm install --frozen-lockfile
          PLAYWRIGHT_VERSION=$(pnpm ls @playwright/test --json | jq -r '.[].devDependencies."@playwright/test".version')
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_OUTPUT

      - name: Publish to Chromatic
        uses: chromaui/action@c50adf8eaa8c2878af3263499a73077854de39d4 # v12.2.0
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitZeroOnChanges: true
          exitOnceUploaded: true
          onlyChanged: true
          traceChanged: true
          debug: true

      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: playwright-${{ steps.npm-install.outputs.PLAYWRIGHT_VERSION }}
          restore-keys: playwright-

      - name: Install playwright
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install chromium --with-deps

      - name: Cache astro build
        uses: actions/cache@v4
        with:
          path: .astro/cache
          key: astro-build-${{ github.sha }}
          restore-keys: astro-build-

      - name: Build
        run: pnpm run build

      - name: Cache Vitest
        uses: actions/cache@v4
        with:
          path: .cache/.vitest
          key: vitest-${{ github.sha }}
          restore-keys: vitest-
      
      - name: Vitest
        run: pnpm run test:unit

      - name: Cache node_modules of tools
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
          cache-dependency-path: 'tools/pnpm-lock.yaml'

      - name: Install dependencies of tools
        working-directory: tools
        run: |
          pnpm install --frozen-lockfile
