name: Compare Renovate

on:
  pull_request:
    paths:
      - .github/workflows/compare-renovate.yaml
      - renovate.json5

jobs:
  call:
    uses: korosuke613/actions/.github/workflows/renovate.yaml@main
    secrets:
      GH_PAT_FOR_RENOVATE: ${{ secrets.GH_PAT_FOR_RENOVATE }}
    permissions: 
      contents: read
      packages: read

  actions-timeline:
    needs: call
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
