name: Dry-run Renovate

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/dry-renovate.yaml
      - renovate.json5

jobs:
  dry-run:
    runs-on: ubuntu-latest
    permissions:
      actions: read  # required for actions-timeline
    steps:
      - uses: actions/checkout@v4

      - uses: cybozu/renovate-dry-run-action@v2
        with:
          config-file: renovate.json5

      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5

