name: Renovate

on:
  schedule:
    - cron: '0/30 * * * *'

  workflow_dispatch:
    inputs:
      repoCache:
        description: 'Reset or disable the cache?'
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
          - reset
  
  pull_request:
    paths:
      - '.github/workflows/renovate.yaml'
      
  push:
    branches:
      - main
    paths:
      - '.github/workflows/renovate.yaml'

permissions: 
  contents: read
  packages: read

concurrency:
  group: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      BASE_DIR: /tmp/renovate
      CACHE_DIR: /tmp/renovate/cache/renovate/repository

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID_KIBA_RENOVATE }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY_KIBA_RENOVATE }}

      - name: Renovate CLI のキャッシュディレクトリを定義
        id: renovate-cache
        run: |
          echo "date=$(date --iso-8601)" >> $GITHUB_OUTPUT

      - name: Renovate CLI の結果をキャッシュ
        uses: actions/cache@v4
        with:
          path: ${{ env.BASE_DIR }}
          # Cache の肥大化を防ぐため、その日初めての実行のみキャッシュする＆前日以前のキャッシュは利用しない
          key: renovate-cli-${{ runner.os }}-${{ steps.renovate-cache.outputs.date }}

      - name: Change permissions
        id: change-permissions
        run: |
          mkdir -p $BASE_DIR
          mkdir -p $CACHE_DIR
          sudo chown -R runner:root /tmp/renovate/
          ls -lR $BASE_DIR
          echo "user=$(id -u)" >> $GITHUB_OUTPUT
          echo "group=$(id -g root)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@2d941ef4e268e53affdc1f11365c69a73e544f50 # v43.0.14
        with:
          configurationFile: renovate.json5
          token: ${{ steps.app-token.outputs.token }}
          docker-user: ${{ steps.change-permissions.outputs.user }}:${{ steps.change-permissions.outputs.group }}
        env:
          # This enables the cache -- if this is set, it's not necessary to add it to renovate.json.
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: 'debug'
