name: Scraping by Algolia

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: "scraping"

permissions:
  actions: read  # required for actions-timeline

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: blob:none
      - name: Scraping
        run: |
          docker run \
            --env "CONFIG=$(cat ./algolia.json | jq -r tostring)" \
            --env "APPLICATION_ID=${{ secrets.ALGOLIA_APPLICATION_ID }}" \
            --env "API_KEY=${{ secrets.ALGOLIA_API_KEY }}" \
            algolia/docsearch-scraper

      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
        if: github.event.workflow == '.github/workflows/scraping.yaml'
