name: Update blogs data

on:
  schedule:
    - cron: '20 14 * * *' # 毎日 23 時 20 分（JST）
  workflow_dispatch:

concurrency:
  group: "update-blogs-data"

jobs:
  update:
    permissions:
      pull-requests: read
      actions: read  # required for actions-timeline
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix: 
        working_dir: ["./tools"]
    defaults:
      run:
        working-directory: ${{ matrix.working_dir }}
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID_KOROSUKE613_HOMEPAGE_2ND }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY_KOROSUKE613_HOMEPAGE_2ND }}

      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
          cache-dependency-path: '${{ matrix.working_dir }}/pnpm-lock.yaml'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Update zenn.json
        run: |
          npx ts-node updateZennJson.ts

      - name: Update zenn_scrap.json
        run: |
          npx ts-node updateZennScrapJson.ts

      - name: Update hatena_blog.json
        run: |
          npx ts-node updateHatenaBlogJson.ts

      - name: Check files changed
        run: |
          if [[ -n "$(git status ../public/assets/ --porcelain)" ]]; then
            echo "changed file"
            echo "is_files_changed=true" >> $GITHUB_ENV
            git diff
            echo "commit_datetime=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_ENV
          fi

      - name: Commit files
        if: env.is_files_changed == 'true'
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          set -x
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com' 
          git config --global user.name 'github-actions[bot]'
          git add ../public/assets/
          git switch -c "bot/update-blogs"
          git commit -m "chore: update blogs data (${{ env.commit_datetime }})"
          git push --force origin HEAD

          PR_STATE=$(gh pr view --json state --jq .state)
          echo $PR_STATE
          if [[ $(gh pr view 2> /dev/null ) ]] && [[ $PR_STATE == "OPEN" ]];then
            # プルリクエストが存在する、かつ、オープンである場合
            gh pr edit --title "chore: update blogs data (${{ env.commit_datetime }})" 
          else
            # プルリクエストが存在しない、または、クローズされている場合
            gh pr create --title "chore: update blogs data (${{ env.commit_datetime }})" --reviewer korosuke613 --body ""
          fi

      - name: Create job summary
        if: env.is_files_changed == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr view --json number,title,url --template \
          '## Create {{printf "#%v" .number}} {{.title}}
          {{.url}}
          ' >> $GITHUB_STEP_SUMMARY

      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5

  notify-on-fail:
    permissions:
      contents: read
    needs:
      - update
    if: failure()
    uses: korosuke613/actions/.github/workflows/notify-to-slack.yaml@main
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    with:
      status: failure
