name: VRT regression

on:
  workflow_call:
    inputs:
      skip:
        description: 'if true, Skipping VRT'
        required: false
        default: false
        type: boolean

  workflow_dispatch:
    inputs:
      skip:
        description: 'if true, Skipping VRT'
        required: false
        default: false
        type: boolean

jobs:
  vrt-regression-test:
    name: Visual Regression Testing
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - uses: actions/checkout@v4
        if: ${{ !inputs.skip }}

        with: 
          fetch-depth: 0
          filter: blob:none

      - name: Get changed contents
        if: ${{ !inputs.skip }}
        id: changed-files
        uses: tj-actions/changed-files@a284dc1814e3fd07f2e34267fc8f81227ed29fb8 # v45.0.9
        with:
          files_yaml: |
            contents:
              - src/content/posts/**
              - public/assets/**.json
  
      - name: Print changed files
        if: ${{ !inputs.skip }}
        run: |
          echo ${{ steps.changed-files.outputs.contents_all_changed_and_modified_files }}

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        if: ${{ !inputs.skip }}

      - uses: actions/setup-node@v4
        if: ${{ !inputs.skip }}

        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Install dependencies
        if: ${{ !inputs.skip }}
        run: pnpm install --frozen-lockfile

      - name: Setup Playwright
        timeout-minutes: 3
        if: ${{ !inputs.skip }}
        uses: ./.github/actions/setup-playwright

      - name: Cache VRT snapshots
        if: ${{ !inputs.skip }}
        uses: actions/cache@v4
        id: vrt-cache
        with:
          path: src/tests/vrt/snapshots
          key: vrt-${{ vars.RECENT_ARTIFACTS_SHA256 }}

      - name: Check snapshot exists
        if: ${{ !inputs.skip }}
        run: |
          if [[ -z "$(ls -A src/tests/vrt/snapshots)" ]]; then
            echo "### ⚠️ No snapshot exists" >> $GITHUB_STEP_SUMMARY
            pnpm run vrt:init
          else
            echo "### ✅ Snapshot exists" >> $GITHUB_STEP_SUMMARY
          fi

      - name: Visual regression testing
        if: ${{ !inputs.skip }}
        run: |
          if [[ -z "${{ steps.changed-files.outputs.contents_all_changed_and_modified_files }}" ]]; then
            # コンテンツの変更がない
            pnpm run vrt:regression --retries=1 --grep="update dependencies"
          else
            # コンテンツの変更がある
            pnpm run vrt:regression --retries=1 --grep="add contents"
          fi

      - name: Upload failed screenshots
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: vrt-failed-screenshots-${{ github.sha }}
          path: test-results

      - name: Test Summary
        if: ${{ !inputs.skip && always() }} 
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: "test-results/vrt.xml"

      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
        if: ${{ !inputs.skip && github.event.workflow == '.github/workflows/vrt-regression.yaml' }} 

      - name: Skipped
        if: inputs.skip
        run: echo "Skipped"
