name: VRT init

on:
  workflow_call:
    inputs:
      sha:
        type: string
        required: true
  workflow_dispatch:

permissions:
  contents: read

jobs:
  vrt-init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-depth: 0
          filter: blob:none

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # main ブランチでの実行を前提としており、VRT のオラクルを確実に作りたいため、timeout は設定しない
      - name: Setup Playwright
        uses: ./.github/actions/setup-playwright
      
      - name: Run VRT init
        run: |
          pnpm run vrt:init

      - name: Cache VRT snapshots
        uses: actions/cache/save@v4
        id: vrt-cache
        with:
          path: src/tests/vrt/snapshots
          key: vrt-${{ inputs.sha || vars.RECENT_ARTIFACTS_SHA256 }}

      - name: Test Summary
        if: always()
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: "test-results/vrt.xml"

      - if: github.event.workflow == '.github/workflows/vrt-init.yaml'
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5

